
.container-fluid1{

    width: 1200px;
    margin: auto;
}

.image{


    height: 400px;
    width: 500px
}

.oneEvent{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.imageEvent{

    margin: 25px;
}

.contentEvent{

    display: flex;
    flex-direction: column;
    align-self: left;
    margin: 25px;
    height: 400px;
    width: 500px
}

.buyTicket{

    margin: 25px;
    height: 120px;
    width: 500px
}


.buyTicketButton{

    margin-top: 30px;
}
.buyTicketContent{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}