.allFooter{

    margin-top: 100px;
    justify-content: center;
    background-color: black;
}


.topFooter{

    display: flex;

    justify-content: center;
}

.emailFooter{



    color: white;

    font-size: larger;

    font-family: sans-serif;

    padding-right: 105px;
}

.phoneFooter{


    color: white;

    font-size: larger;

    font-family: sans-serif;
}

.facebookFooter{


    color: white;

    font-size: larger;

    font-family: sans-serif;
    padding-left: 105px;
}

.contactFooter{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.phoneFooter{

    display: flex;
    flex-direction: column;
}

.glyphicon{

    padding-top: 10px;
}



.bottomFooter{

text-align:  right;

color:  white;

padding-bottom:  15px;

margin-right: 20px;

font-size:  small;

font-weight:  100;
}