<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/addHotelPage.css}" />
    <link rel="stylesheet" th:href="@{/footerPage.css}" />
    <link rel="stylesheet" th:href="@{/headerPage.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Dodaj hotel</title>

</head>
<body>

<div th:replace="header :: header">

</div>
<div class="flexboxAddEvent">
    <div class="container">
        <h2 class="form-signin-heading">Dodaj hotel</h2>

        <form class="form-signin" method="post" accept-charset="utf-8" enctype="multipart/form-data" action="addHotel">

            <div class="container1">

                <h5 data-th-text="${addingHotelFailureMessage}" style="color : red"></h5>

                <h3><label for="hotelName" class="label label-default" >Nazwa hotelu</label></h3>
                <input type="text" id="hotelName" class="form-control" name="hotelName"
                       th:required="required"></input>

                <h3><label for="hotelDescription" class="label label-default">Opis</label></h3>
                <input type="text" id="hotelDescription" class="form-control" name="hotelDescription"
                       th:required="required"></input>

                <h3><label for="hotelPhotoFile" class="label label-default">Zdjęcie</label></h3>
                <input type="file" id="hotelPhotoFile" class="form-control" name="hotelPhotoFile"
                        th:required="required"></input>
            </div>


            <div class="container2">
                <h3><label for="hotelAddress" class="label label-default">Adres</label></h3>
                <input type="text" id="hotelAddress" class="form-control" name="hotelAddress"
                       th:required="required"></input>

                <h3><label for="hotelCity" class="label label-default">Miasto</label></h3>
                <input type="text" id="hotelCity" class="form-control" name="hotelCity"
                       th:required="required"></input>

                <h3><label for="hotelMinRoomForOnePrice" class="label label-default">Cena minimalna pokój 1-osobowy</label></h3>
                <input type="number" min="0.00" max="10000.00" step="0.01" id="hotelMinRoomForOnePrice"
                       class="form-control" name="hotelMinRoomForOnePrice"
                        th:required="required"></input>

                <h3><label for="hotelMinRoomForTwoPrice" class="label label-default">Cena minimalna pokój 2-osobowy</label></h3>
                <input type="number" min="0.00" max="10000.00" step="0.01" id="hotelMinRoomForTwoPrice"
                       class="form-control" name="hotelMinRoomForTwoPrice"
                        th:required="required"></input>

                <h3><label for="hotelMinRoomForMorePrice" class="label label-default">Cena minimalna pokój więcej niż 2</label></h3>
                <input type="number" min="0.00" max="10000.00" step="0.01" id="hotelMinRoomForMorePrice"
                       class="form-control" name="hotelMinRoomForMorePrice"></input>
            </div>



            <div class="conatainerButton">
                <button class="btn btn-lg btn-dark btn-block" type="submit">Dodaj hotel</button>
            </div>


        </form>


    </div> <!-- /container -->

    <div th:replace="footer :: footer">
    </div>
</div>
</body>
</html>