<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/loginPage.css}" />
    <link rel="stylesheet" th:href="@{/footerPage.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Logowanie</title>

</head>
<body>

<div th:replace="header :: header">

</div>
<div class="flexbox">
        <div class="container">

            <form class="form-signin" method="post">

                <h2 class="form-signin-heading">Zaloguj się.</h2>

                <h5 data-th-text="${loginFailureMessage}" style="color : red"></h5>

                <label for="email" class="sr-only">Email:</label>
                <input type="email" id="email" class="form-control" name="email"
                       placeholder="E-mail" th:required="required"></input>

                <label for="password" class="sr-only">Hasło:</label>
                <input type="password" id="password" class="form-control" name="password"
                       placeholder="Hasło" th:required="required"></input>

                <button class="btn btn-lg btn-dark btn-block" type="submit">Zaloguj</button>
                <h4>Nie masz konta ?</h4>
                <a href="/registry" style="color : black">
                    <button class="btn btn-lg btn-dark btn-block" type="button">Zarejestruj się</button>
                </a>

            </form>


        </div> <!-- /container -->

        <div th:replace="footer :: footer">
        </div>
</div>
</body>
</html>