<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/myTicketsPage.css}" />
    <link rel="stylesheet" th:href="@{/footerPage.css}" />
    <link rel="stylesheet" th:href="@{/headerPage.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Wydarzenia</title>

</head>
<body>

<div th:replace="header :: header">

</div>
<div class="flexbox">


    <div class="container-fluid">
        <h1>Twoje bilety</h1>

            <div class="NoContent" th:if="${session.userTickets.isEmpty()}">
                <h2>Nie posiadasz żadnych biletów.</h2>
                <h3>Zapraszamy do zapozniania się z ofertą wydarzeń kulturalnych.</h3>
            </div>
            <div class="oneTicket" th:each="ticket: ${session.userTickets}">

                <div class="innerTicket">
                    <div class="imageTicket">
                        <img class="image" th:src="@{${'/images/eventsPictures/'+ticket.getEvent().getEventPhoto()}}" alt="Card image cap" />
                    </div>

                    <div class="dataTicket">

                        <div class="idTicket"
                             data-th-text="@{${'Id biletu: ' +ticket.id}}">
                        </div>

                        <div th:if ="${ticket.ticketType} == 'normal'" class="typeTicket"
                             data-th-text="@{Typ biletu: Normalny }">
                        </div>
                        <div th:unless ="${ticket.ticketType} == 'normal'" class="typeTicket"
                             data-th-text="@{Typ biletu: Ulgowy }">
                        </div>
                        <div th:if ="${ticket.ticketType} == 'normal'" class="oneTicketPrice"
                             data-th-text="@{${'Cena pojedynczego: ' +ticket.getEvent().getTicketNormalPrice()+'zł'}}">
                        </div>
                        <div th:unless ="${ticket.ticketType} == 'normal'" class="oneTicketPrice"
                             data-th-text="@{${'Cena pojedynczego: ' +ticket.getEvent().getTicketConcessionPrice()+'zł'}}">
                        </div>

                        <div class="amountTicket"
                             data-th-text="@{${'Ilość sztuk: ' +ticket.ticketAmount}}">
                        </div>

                        <div class="allTicketPrice"
                             data-th-text="@{${'Całkowita cena: ' +ticket.ticketPrice}+'zł'}">
                        </div>

                    </div>
                </div>


                <div class="infoTicket">

                    <div class="eventTicket">

                        <h4 class="notice">Dane wydarzenia:</h4>
                        <div class="nameEvent"
                             data-th-text="${ticket.getEvent().getEventName()}">
                        </div>

                        <div class="dateEvent"
                              data-th-text="@{${'Data: ' +  ticket.getEvent().getEventDate()}}">
                        </div>

                        <div class="addressEvent"
                              data-th-text="@{ ${'Adres: '+ticket.getEvent().getEventAddress()}}">
                        </div>

                        <div class="cityEvent"
                              data-th-text="@{${'Miasto: ' + ticket.getEvent().getEventCity()}}">
                        </div>

                    </div>

                    <div class="eventOwner">

                        <h4 class="notice">Dane posiadacza: </h4>
                        <div class="nameOwner"
                             data-th-text="@{${ticket.getUserAcc().getUserProf().getFirstName()}
                                    + ' ' + ${ticket.getUserAcc().getUserProf().getLastName()}} ">
                        </div>

                        <div class="phoneOwner"
                             data-th-text="@{${'Telefon: ' +ticket.getUserAcc().getUserProf().getPhoneNumber()}}">
                        </div>

                    </div>

                </div>
                <div class="placesButtons">
                    <div class="showPlaces">
                        <a th:href="@{/restaurant/{city}(city=${ticket.getEvent().getEventCity()})}" style="color: black">
                            <button class="btn btn-lg btn-dark btn-block" type="button">Pokaż restauracje</button>
                        </a>
                    </div>
                    <div class="showPlaces">
                        <a th:href="@{/hotel/{city}(city=${ticket.getEvent().getEventCity()})}" style="color: black">
                            <button class="btn btn-lg btn-dark btn-block" type="button">Pokaż hotele</button>
                        </a>
                    </div>
                    <div class="showPlaces">
                        <a th:href="@{/attraction/{city}(city=${ticket.getEvent().getEventCity()})}" style="color: black">
                            <button class="btn btn-lg btn-dark btn-block" type="button">Pokaż atrakcje</button>
                        </a>
                    </div>
                </div>

            </div>



</div> <!-- /container -->

<div th:replace="footer :: footer">
</div>
</div>
</body>
</html>