<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/registryPage.css}" />
    <link rel="stylesheet" th:href="@{/footerPage.css}" />
    <link rel="stylesheet" th:href="@{/headerPage.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Rejestracja</title>
</head>
<body>
<div th:replace="header :: header">

</div>
    <div class="flexbox">
        <div class="container">


            <form class="form-signin" method="post">

                <div class="container1">

                        <h2 class="form-signin-heading">Twoje dane personalne</h2>
                        <h5 data-th-text="${isMail}" style="color: red"></h5>
                        <h4><label for="firstName" class="label label-default">Imie:</label></h4>
                        <input type="text" id="firstName" class="form-control" name="firstName"
                                th:required="required"></input>

                    <h4><label for="lastName" class="label label-default">Nazwisko:</label></h4>
                        <input type="text" id="lastName" class="form-control" name="lastName"
                                th:required="required"></input>

                    <h4><label for="address" class="label label-default">Adres:</label></h4>
                        <input type="text" id="address" class="form-control" name="address"
                                th:required="required"></input>

                    <h4><label for="postCode" class="label label-default">Kod pocztowy:</label></h4>
                        <input type="text" id="postCode" class="form-control" name="postCode"
                               placeholder="Przykład 10-100" th:required="required"></input>

                    <h4><label for="city" class="label label-default">Miasto:</label></h4>
                        <input type="text" id="city" class="form-control" name="city"
                                th:required="required"></input>

                    <h4><label for="phoneNumber" class="label label-default">Numer telefonu:</label></h4>
                        <input type="number" id="phoneNumber" class="form-control" name="phoneNumber"
                                th:required="required"></input>

                    <h4><label for="email" class="label label-default">Email:</label></h4>
                        <input type="email" id="email" class="form-control" name="email"
                                th:required="required"></input>
                </div>

                <div class="container2">

                        <h2 class="form-signin-heading">Twoje dane logowania</h2>

                        <h5 data-th-text="${registerMessage}" style="color: red"></h5>

                    <h4><label for="password" class="label label-default">Hasło:</label></h4>
                        <input type="password" id="password" class="form-control" name="password"
                                th:required="required"></input>

                    <h4><label for="password1" class="label label-default">Powtórz hasło</label></h4>
                        <input type="password" id="password1" class="form-control"
                               name ="password1" th:required="required"></input>

                </div>

                <div class="containerButton">
                        <button class="btn btn-lg btn-dark btn-block" type="submit">Zarejestruj się.</button>
                </div>
            </form>



        </div> <!-- /container -->

        <div th:replace="footer :: footer">
        </div>
    </div>

</body>
</html>